%table.table.table-condensed
  %tr
    %th Plan #
    %th Op Period
    %th Files
    %th Approver
    %th Status
    %th Actions
  - collection.each do |resource|
    %tr
      %td=resource.number
      %td
        =resource.period_start.try(:to_s, :date_time)
      %td
        =safe_join resource.plan_attachments.map{|att| link_to att.title, att.file.expiring_url}, tag(:br)
      %td
        = resource.approver_name
        = resource.approver_title
      %td=resource.humanized_status
      %td
        =link_to 'View', resource_path(resource)