=f.input :title
.row
  .col-sm-6
    =f.input :audience, as: :assignable_select,  include_blank: false
  .col-sm-6
    =f.input :attachment_type, collection: attachment_type_options,  include_blank: false
:javascript
  window.controller = new PlanAttachmentsController();