%h1 New Attachment
%ul
  %li=link_to "From Google Drive", list_drive_environment_plan_attachments_path(*association_chain)
  %li=link_to "Upload", url_for(action: :new_upload)
  %li=link_to "From Sitreps", url_for(action: :new_render, source: :sitreps)