.well
  = search_form_for search, builder: FormtasticBootstrap::FormBuilder, url: '' do |f|
    =f.input :name_cont
    =f.input :member_number_eq
    =f.input :email_cont
    =f.actions do
      =f.action :submit, label: 'Search', button_html: {class: 'btn btn-primary'}
%table.table.table-condensed
  %tr
    %th Name
    %th Primary Email
    %th Primary Phone
    %th Main Email
    %th Phones
    %th GAP
    %th Work Location
  - collection.each do |staff|
    %tr
      %td
        =staff.name
        %br
        =staff.member_number
      %td=editable_string staff, :primary_email, editable: true, url: resource_path(staff)
      %td=editable_string staff, :primary_phone, editable: true, url: resource_path(staff)
      %td{style: "text-overflow: ellipsis"}=staff.email
      %td
        %small{style: "line-height: .8"}
          C:
          =staff.cell_phone
          %br
          H:
          =staff.home_phone
          %br
          W:
          =staff.work_phone
      %td=staff.gap
      %td=staff.work_location