.sitrep-page {
  h4 {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .body hr {
    display: none;
  }

  .header-table {

  }

  .header-table td {
    width: 25%
  }

  .banner h1 {
    text-align: center;
    background-color: #777 !important;
    color: white !important;
    margin: 0;
    padding: .2in;
  }

  
  page-break-before: always;
  &:first-child {
    page-break-before: never !important;
  }
  page-break-inside: avoid;

@media print {

    .body hr {
      display: block;
    }
    hr.end-page {
      display: none !important;
    }

    h4 {
      font-weight: bold;
    }

    table td {
      border: none !important;
    }
  }
}