.sitrep-page {
  h4 {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .body hr {
    display: none;
  }

  .header-table td {
    width: 25%
  }

  @media print {
    page-break-before: always;
    &:first-child {
      page-break-before: never;
    }

    page-break-inside: avoid;

    hr {
      display: block;
    }
    hr.end-page {
      display: none !important;
    }

    h4 {
      font-weight: bold;
    }
  }
}

@media print {
  boday {
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }
}

@page {
  orientation: portrait;
  //size: 8.5in 11in;
  //margin: 0.25in;
}