.work-assignment-page {
  page-break-before: always;
  &:first-child {
    page-break-before: never !important;
  }
  page-break-inside: avoid;

  @media print {

    .body hr {
      display: block;
    }
    hr.end-page {
      display: none !important;
    }

    h4 {
      font-weight: bold;
    }

    table td {
      /*border: none !important;*/
    }
  }
}