%h1 DSARS - #{parent.name}
=link_to "Import DSARS Reports", input_path
%table.table
  %thead
    %tr
      %th Report Number
      %th COB Date
      %th View
      %th Actions
  %tbody
    - @reports.each do |rep|
      %tr
        %td=rep.report_number
        %td=rep.cob_date
        %td
          =link_to "5266", report_path(parent, rep.report_number)
          \|
          =link_to "DOSR", report_dosr_path(parent, rep.report_number)
        %td Re-Import Report