=form_tag url_for(action: :run_report), method: :post do
  %h3 Choose report:
  - @report_types.each do |type|
    %div
      =radio_button_tag 'report_type', type
      =label_tag "report_type_#{type.gsub ' ', '_'}", type
  %div
    =label_tag :dro_number
    =text_field_tag :dro_number

  %div
    =label_tag :dro_title
    =text_field_tag :dro_title

  %div
    =label_tag :cob_date
    =text_field_tag :cob_date
    "yyyy-mm-dd"

  %div
    =label_tag :message
    =text_area_tag :message

  =submit_tag 'Run Report'