table.report-table {
  td {
    padding: 2px 5px !important;
  }
  .val {
    text-align: right;
  }
  .end-col {
    border-right: 2px solid #ddd;
  }

  font-size: 90%;
  page-break-inside: avoid;

  td.disabled {
    background-color: #eee !important;
  }

  &.finance-table {
    tbody td:last-child {
      display: none;
    }
  }
}