%h1 
  Environments:
  -if role? Roles::CONFIGURE_ENVIRONMENT
    %small=link_to 'Edit', admin_environments_path, class: 'badge'

%ul
  - Environment.all.each do |e|
    %li
      %h3=link_to e.name, environment_path(e)