@page {
  orientation: portrait;
  //size: 8.5in 11in;
  margin: 0.25in;
}

@media print {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  input {
    border: 0;
  }

  .print-yesno {
    visibility: hidden;
    &:checked + .cb-label:before {
      content: "Yes";
      diasplay: inline;
    }

    + .cb-label:before {
      content: "No";
      dispalay: inline;
    }
  }

  table.print-table * {
    border-color: black !important;
    border-top-color: black !important;
    border-bottom-color: black !important;
    border-left-color: black !important;
    border-right-color: black !important;

    box-sizing: border-box;
  }

  ::-webkit-input-placeholder { }
  :-moz-placeholder {           }
  ::-moz-placeholder {          }
  :-ms-input-placeholder {      }

  input[value=""], input:not([value]) {
    &:not([placeholder=""]) {
      visibility: hidden;
    }
  }
}