=form_tag url_for(action: :input), method: :post, class: 'form' do
  =label_tag :consolidated_only
  =check_box_tag :consolidated_only, '1', @consolidated_only
  %br
  =submit_tag 'Load', class: 'btn btn-primary'