=semantic_form_for [parent, resource], url: (resource.persisted? ? resource_path(resource) : collection_path), builder: FormtasticBootstrap::FormBuilder, class: 'print-table' do |f|
  %h3.center ICS 204 Work Assignment
  %table.table.table-bordered.print-table
    %tr
      %td.table-header-cell
        %strong 1. Incident Name
        %br
        =f.object.plan.environment.name
      %td.table-header-cell
        .inline-block
          %strong 2. Op. Period
        .inline-block.ops-period
          From:
          =f.object.plan.period_start.try(:to_s, :date_time)
          %br
          To:
          =f.object.plan.period_end.try(:to_s, :date_time)
      %td(rowspan="2")
        %strong 3.
        %br
        =f.label :group, 'Group:'
        =f.text_field :group
        %br
        =f.label :activity, 'Activity:'
        =f.text_field :activity
        %br
        =f.label :district, 'District:'
        =f.text_field :district
        .hidden-print
          =f.label :work_location, 'Work Location:'
          =f.select :work_location, work_locations(parent.environment), include_blank: true
    %tr
      %td.table-nested-container(colspan="2" style="border-top: 0")
        %table.table.table-nested.personnel-table
          %tr
            %th.form-header-cell 4. Personnel
            %th.form-header-cell Name
            %th.form-header-cell Contact Number
          %tr.name-autofill
            %td.form-header-cell.personnel-label Assistant Director:
            %td.form-cell=f.text_field :section_chief_name, placeholder: "Name", class: 'autofill-name-field'
            %td.form-cell=f.text_field :section_chief_phone, placeholder: '###-###-####', class: 'autofill-phone-field'
          %tr.name-autofill
            %td.form-header-cell.personnel-label Manager:
            %td.form-cell=f.text_field :activity_manager_name, placeholder: "Name", class: 'autofill-name-field'
            %td.form-cell=f.text_field :activity_manager_phone, placeholder: '###-###-####', class: 'autofill-phone-field'
          %tr.name-autofill
            %td.form-header-cell.personnel-label Supervisor:
            %td.form-cell=f.text_field :supervisor_name, placeholder: "Name", class: 'autofill-name-field'
            %td.form-cell=f.text_field :supervisor_phone, placeholder: '###-###-####', class: 'autofill-phone-field'
    %tr
      %td.table-nested-container(colspan="3")
        %table.table.table-nested.table-bordered.table-condensed.assignments-table
          %thead
            %tr
              %th(colspan="2") 5. Resources Assigned:
              %td.num-persons-cell(rowspan="2")
                %small 
                  \#
                  %br
                  Per
                  %br
                  sons
              %td.contact-number-cell(rowspan="2") Contact Number
              %td.reporting-location-cell(rowspan="2") Reporting Location
            %tr
              %td.resource-identifier-cell Resource Identifier
              %td.leader-cell Leader
          %tbody.worksheet-lines
            =f.fields_for :work_assignment_lines , include_id: false do |f|
              =render 'work_assignment_line_fields', f: f, editable: editable
          - if editable
            %tfoot.hidden-print
              %td(colspan="5")
                =link_to_add_association 'add line', f, :work_assignment_lines, data: {association_insertion_method: "append", association_insertion_node: "tbody.worksheet-lines"}, class: 'btn btn-primary'
    %tr
      %td.area-cell.keep-padding(colspan="3")
        %strong 6. Work Assignments:
        %br
        =f.text_area :work_assignments
    %tr
      %td.area-cell.keep-padding(colspan="3")
        %strong 7. Special Instructions
        %br
        =f.text_area :special_instructions
    %tr
      %td(colspan="3")
        %strong 8. Communications
        %br
    %tr
      %td(colspan="3")
        %strong 9. Prepared by:
        =f.text_field :prepared_by_name
        %strong Title:
        =f.text_field :prepared_by_title
        Date/Time:
        =f.object.updated_at.try(:to_s, :date_time)

  -if editable
    .hidden-print
      =f.action :submit, button_html: {class: 'btn btn-primary'}, label: 'Save Work Assignment'

:javascript
  window.workAssignmentController = new WorkAssignmentController(#{person_datasource_url.to_json}, #{current_environment.dr_number.to_json});