%table.table.table-condensed
  %tr
    %th District
    %th Group
    %th Activity
    %th Prepared By
    %th Actions
  - collection.each do |resource|
    %tr{class: resource.prepared_by_name.present? && 'success'}
      %td=resource.district
      %td=resource.group
      %td=resource.activity
      %td
        =resource.prepared_by_name
        =resource.prepared_by_title
      %td
        =link_to "Edit", edit_resource_path(resource)
        =link_to "Duplicate", duplicate_resource_path(resource), method: :post, data: {confirm: 'Really Duplicate?'}
        =link_to "Delete", resource_path(resource), method: :delete, data: {confirm: 'Really Destroy?'}
=link_to "Create 204", new_resource_path(), class: 'btn btn-primary'
=link_to "Print all 204s", print_resources_path, class: 'btn btn-default'