%table.table.table-condensed
  %tr
    %th District
    %th Group
    %th Activity
    %th Prepared By
    %th Complete
    %th Actions
  - collection.each do |resource|
    %tr
      %td=resource.district
      %td=resource.group
      %td=resource.activity
      %td
        =resource.prepared_by_name
        =resource.prepared_by_title
      %td
        =link_to "Edit", edit_resource_path(resource)
=link_to "Create 204", new_resource_path(), class: 'btn btn-primary'